WorkFlow para analizar CV.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Buscar Trabajo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "¿Que tipo de trabajo buscas?"
            },
            {
              "fieldLabel": "Subi tu CV",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Archivo de Ofertas",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -976,
        -48
      ],
      "id": "b899ffa2-ba7e-42ae-b918-70ee69a13cf6",
      "name": "Formulario",
      "webhookId": "509788d6-c5de-4efb-b38f-29ace6a33b2d"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Archivo_de_Ofertas",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -752,
        160
      ],
      "id": "03af2fb2-594b-49f9-9d7a-cc49ea1a661d",
      "name": "Extraer texto de ofertas"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -432,
        -112
      ],
      "id": "2b0af91a-f2b7-44c4-a2ea-bc6c5e52840e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analizá este CV como si fueras un analista laboral y orientador profesional.\n\nCV:\n{{ $json.text }}\n\nTipo de trabajo buscado por el usuario:\n{{ $('Formulario').item.json['¿Que tipo de trabajo buscas?'] }}\n\nTu tarea es:\n- entender el perfil profesional del candidato\n- detectar seniority aproximado\n- identificar habilidades\n- detectar fortalezas y debilidades\n- inferir qué ofertas laborales podrían ser compatibles\n- generar criterios para evaluar ofertas laborales\n\nDevolvé SOLO JSON válido, sin markdown ni explicación externa:\n\n{\n  \"resumen_perfil\": \"\",\n  \"seniority_estimado\": \"\",\n  \"roles_objetivo\": [],\n  \"roles_secundarios_posibles\": [],\n  \"habilidades_tecnicas\": [],\n  \"habilidades_blandas\": [],\n  \"experiencia_relevante\": [],\n  \"puntos_fuertes\": [],\n  \"puntos_debiles\": [],\n  \"keywords_positivas\": [],\n  \"keywords_negativas\": [],\n  \"criterios_para_puntuar_alto\": [],\n  \"criterios_para_descartar\": [],\n  \"tipo_de_ofertas_ideales\": [],\n  \"sectores_recomendados\": []\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -304,
        -240
      ],
      "id": "b619a5df-fed8-4243-adcf-bdff8d652ccd",
      "name": "Analizar CV"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst chunkSize = 10;\nconst chunks = [];\n\nfor (let i = 0; i < items.length; i += chunkSize) {\n  const chunk = items.slice(i, i + chunkSize);\n\n  chunks.push({\n    json: {\n      chunk_id: Math.floor(i / chunkSize) + 1,\n      total_ofertas: chunk.length,\n      ofertas: chunk.map(item => item.json)\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        144
      ],
      "id": "231254fd-e000-40d0-81f1-0322a4f94add",
      "name": "Dividir en varias partes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analizá estas ofertas laborales y comparalas contra el perfil del candidato.\n\nPERFIL DEL CANDIDATO:\n{{ $json.output }}\n\nOFERTAS DEL BLOQUE:\n{{ JSON.stringify($json.ofertas) }}\n\nDevolvé SOLO JSON válido, sin markdown:\n\n{\n  \"chunk_id\": {{ $json.chunk_id }},\n  \"ofertas_compatibles\": [\n    {\n      \"oferta_id\": 0,\n      \"empresa\": \"\",\n      \"puesto\": \"\",\n      \"url\": \"\",\n      \"score\": 0,\n      \"compatibilidad\": \"Alta/Media/Baja\",\n      \"motivos\": [],\n      \"faltantes\": [],\n      \"recomendacion\": \"Postular/Revisar/No postular\"\n    }\n  ]\n}\n\nReglas:\n- copiá literalmente empresa, puesto y url desde cada oferta original\n- no inventes URLs\n- no mezcles datos entre ofertas\n- devolvé ofertas con score >= 70\n- si ninguna supera 70, devolvé máximo las 3 mejores",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        176
      ],
      "id": "f2cf9131-51f9-46e5-808b-8120b4283e10",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        -64
      ],
      "id": "bf751dd8-997a-43ce-809a-8d94bf474164",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const ofertas = $json.ofertas || [];\nconst total = $json.total || ofertas.length;\nconst fecha = new Date().toLocaleDateString('es-AR');\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replaceAll('&', '&amp;')\n    .replaceAll('<', '&lt;')\n    .replaceAll('>', '&gt;')\n    .replaceAll('\"', '&quot;')\n    .replaceAll(\"'\", '&#039;');\n}\n\nfunction renderList(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) {\n    return '<li>No especificado.</li>';\n  }\n\n  return arr\n    .map(x => `<li>${escapeHtml(x)}</li>`)\n    .join('');\n}\n\nfunction scoreColor(score) {\n  const n = Number(score || 0);\n\n  if (n >= 90) return '#16a34a';\n  if (n >= 80) return '#2563eb';\n  if (n >= 70) return '#d97706';\n\n  return '#6b7280';\n}\n\nlet html = `\n<div style=\"margin:0; padding:0; background:#f3f4f6; font-family:Arial, Helvetica, sans-serif; color:#111827;\">\n  <div style=\"max-width:920px; margin:0 auto; padding:28px 18px;\">\n\n    <div style=\"background:#111827; color:white; border-radius:18px; padding:26px; margin-bottom:22px;\">\n      <h1 style=\"margin:0 0 10px; font-size:28px;\">\n        Ofertas laborales compatibles\n      </h1>\n      <p style=\"margin:0; font-size:15px; color:#d1d5db;\">\n        Informe generado automáticamente a partir del CV y las ofertas cargadas.\n      </p>\n    </div>\n\n    <div style=\"background:white; border:1px solid #e5e7eb; border-radius:16px; padding:20px; margin-bottom:22px;\">\n      <p style=\"margin:0 0 8px;\">\n        <strong>Fecha:</strong> ${escapeHtml(fecha)}\n      </p>\n      <p style=\"margin:0;\">\n        <strong>Total de ofertas compatibles:</strong> ${escapeHtml(total)}\n      </p>\n    </div>\n`;\n\nif (ofertas.length === 0) {\n  html += `\n    <div style=\"background:white; border:1px solid #e5e7eb; border-radius:16px; padding:22px;\">\n      <h2 style=\"margin-top:0;\">No se encontraron ofertas compatibles</h2>\n      <p style=\"margin-bottom:0;\">\n        No hubo ofertas con puntaje suficiente para recomendar postulación.\n      </p>\n    </div>\n  `;\n}\n\nfor (const o of ofertas) {\n  const score = Number(o.score || o.puntaje || 0);\n  const color = scoreColor(score);\n  const url = o.url || o.enlace || o.link || '';\n\n  html += `\n    <div style=\"background:white; border:1px solid #e5e7eb; border-radius:18px; padding:22px; margin-bottom:20px; box-shadow:0 4px 14px rgba(0,0,0,0.05);\">\n\n      <div style=\"display:flex; justify-content:space-between; align-items:flex-start; gap:16px; flex-wrap:wrap;\">\n        <div>\n          <h2 style=\"margin:0 0 8px; color:#111827; font-size:22px;\">\n            ${escapeHtml(o.puesto || 'Oferta compatible')}\n          </h2>\n          <p style=\"margin:0; color:#374151;\">\n            <strong>Empresa:</strong> ${escapeHtml(o.empresa || 'Sin empresa')}\n          </p>\n        </div>\n\n        <div style=\"background:${color}; color:white; padding:10px 14px; border-radius:12px; font-weight:bold; font-size:18px;\">\n          ${escapeHtml(score)}/100\n        </div>\n      </div>\n\n      <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:18px 0;\" />\n\n      <p style=\"margin:8px 0;\">\n        <strong>Compatibilidad:</strong> ${escapeHtml(o.compatibilidad || 'No especificada')}\n      </p>\n\n      <p style=\"margin:8px 0;\">\n        <strong>Recomendación:</strong> ${escapeHtml(o.recomendacion || 'Revisar')}\n      </p>\n\n      <div style=\"margin-top:16px;\">\n        <p style=\"margin:0 0 6px;\"><strong>Por qué encaja:</strong></p>\n        <ul style=\"margin-top:6px; padding-left:22px;\">\n          ${renderList(o.motivos)}\n        </ul>\n      </div>\n\n      <div style=\"margin-top:16px;\">\n        <p style=\"margin:0 0 6px;\"><strong>Faltantes o puntos a revisar:</strong></p>\n        <ul style=\"margin-top:6px; padding-left:22px;\">\n          ${renderList(o.faltantes)}\n        </ul>\n      </div>\n\n      ${\n        url\n          ? `<div style=\"margin-top:18px;\">\n              <a href=\"${escapeHtml(url)}\" target=\"_blank\" style=\"display:inline-block; background:#2563eb; color:white; padding:10px 14px; border-radius:10px; text-decoration:none; font-weight:bold;\">\n                Ver oferta\n              </a>\n              <p style=\"font-size:12px; color:#6b7280; margin-top:8px; word-break:break-all;\">\n                ${escapeHtml(url)}\n              </p>\n            </div>`\n          : `<p style=\"margin-top:18px; color:#6b7280;\"><em>Sin enlace disponible.</em></p>`\n      }\n\n    </div>\n  `;\n}\n\nhtml += `\n    <div style=\"text-align:center; color:#6b7280; font-size:12px; margin-top:28px;\">\n      Informe generado por n8n + IA.\n    </div>\n\n  </div>\n</div>\n`;\n\nreturn [\n  {\n    json: {\n      html,\n      total,\n      ofertas\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        464
      ],
      "id": "7263679a-37a8-46cb-9b2e-bee480000b48",
      "name": "Generar el HTML"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet resultadosIA = [];\n\nfunction cleanParse(value) {\n  if (typeof value !== 'string') return value;\n\n  const clean = value\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  return JSON.parse(clean);\n}\n\nfor (const item of items) {\n  let data = item.json;\n\n  if (typeof data.output === 'string') {\n    data = cleanParse(data.output);\n  }\n\n  const compatibles = data.ofertas_compatibles || data.top_ofertas || [];\n\n  for (const r of compatibles) {\n    resultadosIA.push({\n      oferta_id: Number(r.oferta_id || 0),\n      empresa: r.empresa || '',\n      puesto: r.puesto || '',\n      url: r.url || r.enlace || r.link || '',\n      score: Number(r.score || r.puntaje || 0),\n      compatibilidad: r.compatibilidad || '',\n      motivos: Array.isArray(r.motivos) ? r.motivos : [],\n      faltantes: Array.isArray(r.faltantes) ? r.faltantes : [],\n      recomendacion: r.recomendacion || ''\n    });\n  }\n}\n\nresultadosIA = resultadosIA.sort((a, b) => b.score - a.score);\n\nconst ofertasMayoresA70 = resultadosIA.filter(r => r.score >= 70);\n\nconst ofertasFinales =\n  ofertasMayoresA70.length > 0\n    ? ofertasMayoresA70\n    : resultadosIA.slice(0, 15);\n\nreturn [\n  {\n    json: {\n      total: ofertasFinales.length,\n      ofertas: ofertasFinales\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        224
      ],
      "id": "527ec334-110e-40bd-9e95-012c9391c8a4",
      "name": "Unir Resultados"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.Email }}",
        "subject": "HirinGScraper: Ofertas Compatibles",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        464
      ],
      "id": "0b2de0af-3079-4d60-95d4-abebf117d3f6",
      "name": "Send a message",
      "webhookId": "e66ea6da-668a-43ca-9f14-c1a2e4ee0b10",
      "credentials": {
        "gmailOAuth2": {
          "id": "6rihna6qtippXWTI",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Subi_tu_CV",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -720,
        -144
      ],
      "id": "7e851e26-ff1f-4d53-9626-20c972066dc8",
      "name": "Extraer texto de CV"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item, index) => {\n  item.json.oferta_id = index + 1;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        160
      ],
      "id": "697389c8-0760-4bf8-9503-ddeb202a3bc3",
      "name": "Agregar ID a ofertas"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.4,
      "position": [
        144,
        384
      ],
      "id": "25105bcd-6081-472d-982b-7047f4644654",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Formulario": {
      "main": [
        [
          {
            "node": "Extraer texto de ofertas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer texto de CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto de ofertas": {
      "main": [
        [
          {
            "node": "Agregar ID a ofertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dividir en varias partes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analizar CV": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Unir Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar el HTML": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Resultados": {
      "main": [
        [
          {
            "node": "Generar el HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto de CV": {
      "main": [
        [
          {
            "node": "Analizar CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar ID a ofertas": {
      "main": [
        [
          {
            "node": "Dividir en varias partes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1bfa6c3b-84bd-4b94-b770-ba6ce6128f88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e37e07a7c2abef5c86a2b1343dc08dc9be1d37f14c52a26803ac3160ef068ed7"
  },
  "id": "UMvoKLkrjxeiWBrF",
  "tags": []
}